/* Existing Styles */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  flex: 1;
  padding: 20px;
  background: #1a202c;
}

.App-footer {
  padding: 10px;
  background: #282c34;
  color: white;
  text-align: center;
  margin-top: auto; 
}

.app-headline {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 50px;
}

.app-summary {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.clear-txn-container {
  max-width: 800px;
  margin: 0 auto;
}

.transaction-explainer {
  background: #2d3748;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.input-section {
  margin-bottom: 20px;
}

.result-section {
  margin-top: 20px;
}

.transaction-data-section {
  margin-top: 40px;
}

.transaction-data-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.modal {
  background: #2d3748;
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-content {
  background: #1a202c;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
  max-height: 400px;
  text-align: left;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* .modal-button {
  background: #4a5568;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button {
  background: #00897B;
}

.close-button {
  background: #e53e3e;
} */
